/*-----------color--------*/

$color-text: #3b434c!default;
$color-lighter: #ffffff!default;
$color-footer: #635e80!default;
$color-1: #6fd5ff!default;
$color-2: #99b8ff!default;
$color-3: #ffe346!default;
$color-button: #e7be63!default;
$color-footer: #3e75a8!default;
$color-active: #54ff00!default;
$color-green: #56ff52!default;

/*-----------border--------*/

$border-color: #6acef9!default;
$border-button-active: #0eff7a!default;
$border-color-02: #99b8ff!default;

/*-----------background--------*/

$bg-content: #0d0733!default;
$bg-hover: #4B27BA!default;
$bg-header-footer: #24203b!default;
$bg-box: #171425!default;
$bg-modal: #3b3560!default;
$bg-button: #00a8ff!default;