/*-----------color--------*/

$color-text: #3b434c!default;
$color-lighter: #ffffff!default;
$color-footer: #635e80!default;
$color-1: #00fffc!default;
$color-2: #ff3fbe!default;
$color-3: #e9d001!default;
$color-first: #e300ff!default;
$color-last: #00fffc!default;

/*-----------border--------*/

$border-color: #3b434c!default;
$border-button: #3b3560!default;
$border-button-02: #00ffff!default;
$border-table: #6b5fbb!default;
$boder-box: #00a8ff!default;

/*-----------background--------*/

$bg-content: #0d0733!default;
$bg-hover: #4B27BA!default;
$bg-header-footer: #24203b!default;
$bg-box: #171425!default;
$bg-modal: #3b3560!default;
$bg-button: #00a8ff!default;