/*-----------color--------*/

$color-text: #ffffff!default;
$color-lighter: #ffffff!default;
$color-title: #ffbb84!default;
$color-button: #ffbb84!default;
$color-hover: #ffbb84!default;
$color-primary: #ffbb84!default;

/*-----------border--------*/

$border-color: #ffbb84!default;
$border-button: #3b3560!default;
$border-button-02: #00ffff!default;
$border-table: #6b5fbb!default;
$boder-box: #00a8ff!default;

/*-----------background--------*/

$bg-primary: #ffbb84!default;
$bg-header-footer: #24203b!default;
$bg-box: #171425!default;
$bg-modal: #3b3560!default;
$bg-button: #00a8ff!default;
