.chart-page{
	background-color: transparent;
}
.group-wWM3zP_M- {
	background-color: #26193a;
}
#header-toolbar-chart-styles svg {
	color: white;
}
#header-toolbar-chart-styles  .apply-common-tooltip {
	background: #3b2956;
	cursor: pointer;
	border-radius: 5px;
}
#header-toolbar-chart-styles  .apply-common-tooltip:before {
	content:'';
	opacity: 0.9;
	background: #3b2956 !important;
}
.layout__area--top {
	width: 47px !important;
	top: 46px !important;
}
.chart-page .chart-container-border {
	background-color: transparent !important;
}