@mixin transition($property: all, $duration: .5s, $ease: ease) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin button($style) {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 5px;
    border: none;
    color: $color-lighter;
    text-transform: uppercase;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    @media (min-width: 768px) and (max-width: 1024px){
        padding: 12px 20px;
    }
    @media only screen and (max-width: 768px){
        font-size: 14px;
        padding: 12px 15px;
    }
    @if $style=="default" {
        background: #262c75;
        @include transition;
    }
    @else if $style=="btn-deposit" {
        background: #09ab68;
        border: 1px solid #09ab68;
    }
    @else if $style=="btn-withdraw" {
        background: #ea2851;
        border: 1px solid #ea2851;
    }
    @else if $style=="btn-register" {
        font-size: 24px;
        border: 2px solid #01ff96;
        background-color: #09ab68;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
        padding: 10px 35px;

    }
    &:hover {
        color: #ffffff;
        filter: brightness(1.5);
    }
    &:focus {
        outline: none;
        color: #ffffff;
    }
}

@mixin before_after {
    content: "";
    position: absolute;
}

// Browser Prefixes
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

// Rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin center($position) {
    position: absolute;
    @if $position=='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position=='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @else if $position=='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@mixin prev-next($value) {
    z-index: 1;
    width: auto;
    height: auto;
    &::before {
        font-family: "Font Awesome 5 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-size: 56px;
        color: $color-1;
        @media only screen and (max-width: 767px) {
            font-size: 26px;
        }
    }
    @if $value=="prev" {
        left: -50px;
        &::before {
            content: "\f053";
        }
        @media only screen and (max-width: 768px) {
            left: -25px;
        }
        @media only screen and (max-width: 480px) {
            left: 0;
        }
    }
    @else if $value=="next" {
        right: -50px;
        &::before {
            content: "\f054";
        }
        @media only screen and (max-width: 768px) {
            right: -25px;
        }
        @media only screen and (max-width: 480px) {
            right: 0;
        }
    }
}

@mixin box-shadow {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}