.trade-header {
    padding: 20px 0;
    .logo {
        span {
            @media only screen and (max-width: 1199px) {
                display: none;
            }
        }
        @media screen and (max-width: 768px) {
            position: relative;
            top: -20px;
        }
    }
    ul.menu {
        @media screen and (max-width: 768px) {
            justify-content: flex-start;
            >li {
                margin: 0;
                width: 50%;
                img {
                    max-width: 30px;
                    margin-left: 0;
                }
                &.nav-user {
                    position: relative;
                    .icon-logout {
                        position: absolute;
                        right: 0;
                        top: 7px;
                        max-width: 25px;
                    }
                }
            }
        }
        >li.nav-user .avatar-user {
            background: #007fc8;
        }
    }
    .header-center {
        @media screen and (min-width: 769px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .icon {
            img {
                width: 20px;
            }
        }
        .current-date {
            order: 1;
            min-width: 110px;
            @media screen and (max-width: 768px) {
                display: block;
                width: 100%;
                clear: left;
                margin-left: -20%;
                margin-top: 20px;
                padding: 10px 0;
                text-align: center;
            }
        }
        .header-info {
            .inner {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 50px;
                border: 2px solid #00507e;
                background-color: #030844;
                @media screen and (min-width: 769px) {
                    width: 150px;
                    height: 50px;
                    padding: 7px;
                }
                @media screen and (max-width: 768px) {
                    margin: 0 20%;
                }
                @media screen and (max-width: 576px) {
                    margin: 0 10px;
                    padding: 4px 6px;
                    height: 41px;
                }
            }
            order: 2;
            @media screen and (max-width: 768px) {
                float: left;
                width: 63%;
            }
            span {
                padding: 0 14px;
            }
            .time {
                border-left: 2px solid #00507e;
                font-size: 22px;
                font-weight: bold;
                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
            }
        }
        .links {
            font-size: 0;
            width: 110px;
            @media screen and (max-width: 768px) {
                float: left;
                width: 37%;
                text-align: right;
            }
            order: 3;
            li {
                display: inline-block;
                &:first-child {
                    margin-right: 10px;
                }
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #007fc8;
                border: 1px solid #fff;
                @media screen and (max-width: 576px) {
                    width: 40px;
                    height: 40px;
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    .currency {
        display: flex;
        align-item: center;
        font-weight: 700;
        font-size: 16px;
        align-items: center;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            background: #007fc8;
            border-radius: 50%;
            text-align: center;
            font-size: 20px;
        }
    }
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    min-width: 110px;
    height: 24px;
    font-size: 14px;
    text-transform: uppercase;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #007fc8;
    padding: 2px 35px 2px 15px;
    border-radius: 5px;
    @include transition(all 0.2s ease-in);
    .fas {
        width: 20px;
        height: 24px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 10px;
        background-color: #006199;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        line-height: 24px;
    }
    &:hover {
        background-color: darken(#006199, 2);
    }
    &:active,
    &.active {
        background-color: darken(#006199, 5);
        &:after {
            top: 9px;
            border-color: transparent transparent #fff transparent;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    background-color: darken(#006199, 5);
    border-radius: 5px;
    border: 1px solid #6dcaff;
    text-transform: uppercase;
    li {
        margin: 0;
        padding: 4px 0;
        text-indent: 15px;
        @include transition(all 0.15s ease-in);
        &:hover {
            color: #4fbfff;
            font-weight: bold;
        }
        &[rel="hide"] {
            display: none;
        }
    }
}

.trade-page {
    footer {
        @media screen and (max-width: 768px) {
            padding-top: 0;
        }
        .copyright {
            font-size: 12px;
            color: #006199;
            text-align: center;
        }
    }
    .modal {
        .action-dialog {
            .modal-content {
                font-size: 80px;
                background: #202561;
                text-transform: uppercase;
                text-align: center;
                border: 2px solid #006199;
                padding: 30px 0;
                .exchange {
                    font-size: 20px;
                }
            }
            span {
                display: block;
                font-weight: bold;
                line-height: 1;
            }
            &.start {
                max-width: 360px;
            }
            &.stop {
                max-width: 300px;
            }
            &.win {
                max-width: 240px;
                .modal-content {
                    background-color: #09ab68;
                    border-color: #01ff96;
                }
            }
            &.lose {
                max-width: 260px;
                .modal-content {
                    background-color: #ea2851;
                    border-color: #ff7f9a;
                }
            }
        }
    }
    .modal-backdrop.show {
        opacity: 0;
    }
    #body-wrapper {
        background: #0d146b url(../images/trade-bg.png) no-repeat 0 100%;
    }
    .mobile-hide {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .body-wrapper {
        &.trade {
            min-height: 700px;
            @media screen and (max-width: 768px) {
                margin-top: 175px;
            }
            @media screen and (max-width: 480px) {
                margin-top: 162px;
            }
        }
        #chartdiv-1,
        #chartdiv-2 {
            width: 100%;
            height: 150px;
            @media screen and (max-width: 768px) {
                height: 140px;
            }
        }
        #candlestick-chart-1,
        #candlestick-chart-2 {
            width: 100%;
            height: 500px;
            @media screen and (max-width: 768px) {
                height: 300px;
            }
        }
    }
}

.detail-panel {
    .panel-wrapper {
        @media screen and (min-width: 769px) {
            display: flex;
        }
    }
    .pie-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        @media screen and (min-width: 1440px) {
            width: 30%;
        }
        @media screen and (min-width: 1024px) and (max-width: 1280px) {
            width: 20%;
        }
        @media screen and (max-width: 768px) {
            float: left;
            width: 35%;
        }
        .chart-info {
            color: white;
            li {
                white-space: nowrap;
                font-weight: bold;
                span {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-right: 10px;
                    &.buy {
                        color: #09ab68;
                    }
                    &.sell {
                        color: #ea2851;
                    }
                }
            }
        }
    }
    .point-table {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1024px) and (max-width: 1280px) {
            width: 55%;
        }
        @media screen and (max-width: 768px) {
            width: 65%;
            float: left;
        }
        .row {
            li {
                margin: 5px;
                font-size: 0;
                @media screen and (min-width: 1024px) and (max-width: 1280px) {
                    margin: 3px;
                }
                @media screen and (max-width: 768px) {
                    margin: 3px;
                }
            }
        }
        .point {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #0f1244;
            border: solid 2px #999999;
            @media screen and (min-width: 1024px) and (max-width: 1280px) {
                width: 20px;
                height: 20px;
            }
            @media screen and (max-width: 768px) {
                width: 17px;
                height: 17px;
            }
            &.sell {
                background-color: #ea2851;
                border: 2px solid #ff7f9a;
            }
            &.buy {
                background-color: #09ab68;
                border: 2px solid #01ff96;
            }
        }
    }
    .button-list {
        width: 25%;
        padding-right: 10px;
        @media screen and (min-width: 1440px) {
            width: 30%;
            padding-right: 30px;
        }
        @media screen and (min-width: 769px) {
            text-align: right;
        }
        @media screen and (max-width: 768px) {
            padding-top: 30px;
            width: 100%;
            clear: left;
            overflow: hidden;
            padding-right: 0;
        }
        li {
            @media screen and (max-width: 768px) {
                width: 32%;
                button {
                    width: 100%;
                }
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                    .trade-btn.sell-btn {
                        margin-top: 0;
                    }
                }
            }
            .trade-btn {
                @media screen and (min-width: 769px) {
                    height: 70px;
                    padding: 10px;
                    min-width: 120px;
                }
                @media screen and (min-width: 1440px) {
                    min-width: 160px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
                padding: 10px 5px;
                border: 2px solid white;
                border-radius: 5px;
                color: white;
                font-size: 24px;
                font-weight: bold;
                .number {
                    margin-top: 10px;
                    float: right;
                    font-weight: normal;
                    font-size: 16px;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                .text {
                    position: relative;
                    @media screen and (min-width: 769px) {
                        float: left;
                        margin-top: 15px;
                    }
                    &:before {
                        display: inline-block;
                        width: 39px;
                        height: 16px;
                        margin-right: 5px;
                        content: '';
                        @media screen and (min-width: 769px) {
                            position: absolute;
                            top: -15px;
                            left: 5px;
                        }
                    }
                }
                &.buy-btn {
                    background-color: #09ab68;
                    .text {
                        &:before {
                            background: url('../images/trade-arrow-up.png') no-repeat;
                            @media screen and (max-width: 768px) {
                                background-size: 80%;
                            }
                        }
                    }
                }
                &.sell-btn {
                    margin-top: 20px;
                    background-color: #ea2851;
                    .text {
                        &:before {
                            background: url('../images/trade-arrow-down.png') no-repeat;
                            @media screen and (max-width: 768px) {
                                background-size: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.trade-bottom {
    @media screen and (min-width: 769px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        padding-bottom: 90px;
    }
    .trade-input {
        position: relative;
        margin-right: 15px;
        @media screen and (max-width: 768px) {
            position: absolute;
            top: -54px;
            left: 50%;
            transform: translateX(-50%);
            width: 30%;
            margin-right: 0;
        }
        input {
            padding: 32px 59px 32px 32px;
            text-align: center;
            width: 300px;
            background-color: #0a0c27;
            font-size: 24px;
            color: #ffcc6b;
            font-weight: bold;
            border-radius: 5px;
            border: 3px solid #008ada;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 54px;
                padding: 10px 40px 10px 10px;
            }
        }
        .icon-arrow {
            content: '';
            position: absolute;
            right: 25px;
            top: 27px;
            display: block;
            width: 27px;
            height: 18px;
            background: url('../images/icon-arrow-input.png');
            @media screen and (max-width: 768px) {
                right: 10px;
                top: 19px;
            }
        }
    }
    .usg-coin {
        font-size: 0;
        @media screen and (min-width: 576px) and (max-width: 768px) {
            width: 50%;
            margin: 20px auto 10px;
        }
        li {
            display: inline-block;
            margin: 0 10px;
            @media screen and (max-width: 768px) {
                width: 20%;
                margin: 0;
            }
            span {
                display: block;
                width: 93px;
                height: 93px;
                background: url('../images/bg-usg.png');
                transition: transform 500ms ease;
                @media screen and (max-width: 768px) {
                    transform: scale(0.7);
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
        .bg-5usg {
            background-position: -0 -0;
        }
        .bg-10usg {
            background-position: -93px -0;
        }
        .bg-100usg {
            background-position: -0 -93px;
        }
        .bg-500usg {
            background-position: -93px -93px;
        }
        .bg-100usg {
            background-position: -186px -0;
        }
    }
}

.charts {
    .charts-header {
        margin-bottom: 30px;
        @media screen and (max-width: 768px), (min-width: 1024px) and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .select-group {
            display: inline-block;
            background-color: #030844;
            padding: 10px;
            font-size: 0;
            .flex-group {
                display: flex;
                align-items: center;
            }
        }
        .convert-arrow {
            display: inline-block;
            width: 20px;
            height: 15px;
            margin: 0 5px;
            background: url(../images/convert-arrow.png) no-repeat;
            background-size: 20px;
        }
        .info-group {
            padding: 8px 12px;
            color: white;
            @media screen and (min-width: 769px) and (max-width: 1023px), (min-width: 1200px) {
                background-color: #030844;
                float: right;
            }
            span {
                &:after {
                    content: '-';
                    padding: 0 10px;
                    color: #00507e;
                    font-size: 18px;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.trade-history-page {
    background: #e7e7f1;
    .ast-tabs {
        padding-top: 40px;
        .nav-item {
            width: 25%;
        }
    }
    .history-rows {
        font-size: 16px;
        .row {
            padding: 18px 0;
            border-bottom: 1px solid #d2d2dd;
            &:last-child {
                border: none;
            }
            .col {
                padding: 0;
            }
        }
        .name {
            text-transform: uppercase;
            &:after {
                display: inline-block;
                content: '-';
                margin: 0 10px;
            }
        }
        .currency {
            color: #808080;
            &.buy {
                color: #09ab68;
            }
            &.sell {
                color: #ea2851;
            }
            &.withdrawl {
                color: #000;
            }
        }
        .text {
            font-weight: bold;
            &:before {
                position: relative;
                top: 2px;
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 3px;
                border: 2px solid #7dd4b0;
                background-color: #09ab68;
            }
            &.sell {
                color: #ea2851;
                &:before {
                    background-color: #ea2851;
                    border-color: #ff7f9a;
                }
            }
            &.buy {
                color: #09ab68;
            }
        }
    }
    .history-totals {
        margin-top: 20px;
        font-size: 16px;
        .rows {
            .row {
                padding: 15px 20px;
                background-color: #d2d2dd;
                font-weight: bold;
                border-radius: 5px;
                margin-bottom: 2px;
                justify-content: space-between
            }
        }
    }
    footer {
        margin-top: 100px;
        color: #9195b2;
        @media screen and (max-width: 768px) {
            margin-top: 50px;
        }
    }
    #body-wrapper {
        @media screen and (max-width: 768px) {
            margin-top: 178px;
        }
        background: #e7e7f1 url(../images/trade-history-bg.png) no-repeat 0 100%;
        background-size: contain;
    }
}